.wrapper {
    background-color:blanchedalmond;
    width:100%;
    height:100vh;
    margin:0 auto;
}

header {
    width:50%;
    padding:.5rem;
    margin:10px auto;
    text-align: center;
}

header h1 {
    font-size:4rem;
    color:tan;
    text-shadow: black 2px 1px 2px;
}

.inputSection {
    text-align: center;
    margin-top:10px;
}

.main {
    padding:10px;
}

section {
    margin:0 auto;
    width:60%;
}

#list {
    width:50%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    padding:0
}

#error {
    text-align: center;
    color:rosybrown;
    font-weight: bold;
}

#empty {
    color:rgb(70, 47, 38);
    font-size:35px;
    font-weight: bold;
    margin-top:20px;
    text-align: center;
}

section ul li {
    margin:1rem;
    padding:5px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

section ul li span input[type="checkbox"] {
  width: 2rem;
}

#list li span {
    display: flex;
    padding:10px;
  }

button {
    background-color: tan;
    padding:10px;
    color:white;
    width:120px;
    margin:0 10px;
    border:none;
    transition: all 0.2s ease-in-out;
}
button:hover {
    background-color:burlywood;
    font-size: 1.01rem;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
    cursor: pointer;
}

input {
    padding:10px;
    width:200px;
    outline:none;
}

@media (max-width: 1024px) {
  .header {
    width:100%;
  }

  section {
    width: 50%;
    margin:0 auto;
  }
  
  #list {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .header {
    width:100%;
  }

  section {
    width: 60%;
    margin:0 auto;
  }
  
  #list {
    width: 100%;
  }
}

@media (max-width: 430px) {
  .header {
    width:100%;
  }
  .inputSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .inputSection input{
    width: 90%;
    padding:1rem;
    margin:10px 0;
  }

  .inputSection button {
    width: 100%;
  }

  section {
    width: 100%;
  }

  #list {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #list li span {
    display: flex;
    justify-content: center;
    padding:10px;
  }
}